.verticals {
  display: flex;
  flex-wrap: wrap;
}

.suite {
  position: absolute;
  top: 15%;
  left: 7%;
}

.information-centre {
  position: relative;
  top:15%;
  left: 40%;
  transform: translateX(-40%);
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  border: 0.5px solid black;
  border-radius: 60px;
  width: 50%;
  margin: 2%;
  text-align: center;
  
}