.verticals {
  display: flex;
  flex-wrap: wrap;
}

.suite {
  position: absolute;
  top: 10%;
  left: 7%;
}

.information-centre {
  position: relative;
  display: flex;
  align-items: baseline;
  
  margin: 1%;
  padding-top: 1%;
  a {
    padding-right: 2%;
  }
}