$linkHoverColor: #A44A3F;

.navigation {
  position: fixed;
  display: flex;
  width: 100%;
  position: fixed;
  justify-content: baseline;
  align-items: baseline;
  z-index: 3;
  background: white;
  .name {
    padding-left: 6%;
    height: 100%;
    width: 50%;
    font-size: 13px;
  }
  .name h1 {
    font-size: 24px;
  }
  .links {
    display: flex;
    margin-left: auto;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 35px;
  }
  .link-style {
    // font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 15px;
    &:hover {
     text-decoration: underline;
    }
  }
  @media screen and (max-width: 765px){
    .navigation {
      display: flex;
      justify-content: baseline;
    }
    .name {
      padding-left: 6%;
      padding-bottom: 5%;
      height: 10%;
      width: 100%;
      font-size: 4vh;
      position: fixed;
      top: 0%;

      z-index: 2;
    }

    .hamburger {
      position: fixed;
      cursor: pointer;
      right: 5%;
      top: 5%;
      z-index: 3;

    }
    .links {
      position: fixed;
      top: -10%;
      right: 0%;
      background-color: #fffdfd;
      color: black;
      height: 110vh;
      width: 100vh;
      flex-direction: column;
      clip-path: circle(50px at 90% -20%);
      -webkit-clip-path: circle(50px at 90% -20%);
      transition: all 1s ease-out;
      pointer-events: none;
      z-index: 2;
    }
    .link-style:hover {
      color: $linkHoverColor;
    }
    .links.open {
      clip-path: circle(1000px at 90% -20%);
      -webkit-clip-path: circle(1000px at 90% -20%);
      pointer-events: all;
    }

  }
}
