/* Button that opens Modal */
.subheading-2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 1%;
  padding-top: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: bold;
  border: none;
  color: rgb(226, 40, 40);
  background: inherit;
  cursor: pointer;
}
/* Modal */
.open-instructions {
  display: none;
  position: fixed;
  top: 15%;
  left: 10%;
  z-index: 3;
  width: 80%;
  height: 80%;
  overflow: auto;
  background: rgb(247, 240, 240);
  border: none;
  border-radius: 20px;
}

.open-resource {
  @extend .open-instructions;
  position: absolute;
  top: 5%;
  left: 70%;
  width: 30%;
  height: 80%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.911);
  color: white;
  border: none;
  border-radius: 0px;
}
.content {
  margin: 3%;
  width: 85%;
  font-size: 20px;
  a {
    text-decoration: none;
    color: white;
  }
}

.close-resource {
  color: white;
  position: relative;
  top: 2%;
  left: 85%;
  font-size: 4vh;
  cursor: pointer;
  padding: 1%;
}

.close {
  position: fixed;
  top: 20%;
  left: 85%;
  color: black;
  font-size: 4vh;
  width: 30px;
  min-height: 30px;
  font-weight: bold;
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

.instructions {
  display: block;
  text-align: left;
}

.bulletpoints {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media screen and (max-width: 765px) {
  .open-instructions {
    display: none;
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 3;
    width: 80%;
    height: 75%;
    background: white;
    border: 0.5px solid black;
  }
  .content {
    margin: 1%;
    width: 90%;
    font-size: 15px;
    ul {
      list-style-type: disc;
    }
    li{
      margin: 4%;
    }
    a {
      text-decoration: none;
      color: black
      
    }
  }
}
