/* Button that opens Modal */
.subheading-2 {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  margin: 1%;
  padding-top: 3%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
  font-weight: bold;
  border: none;
  color: rgb(226, 40, 40);
  background: inherit;
  cursor: pointer;
}
/* Modal */
.open-instructions {
  display: none;
  position: fixed;
  top: 15%;
  left: 10%;
  z-index: 3;
  width: 80%;
  height: 80%;
  overflow: auto;
  background: rgb(247, 240, 240);
  border:none;
  border-radius: 20px;
}

.open-resource {
  @extend .open-instructions;
  height: 30%;
  width: 35%;
  top: 30%;
  left: 30%;
  overflow: none;
}

.content {
  margin: 3% auto;
  width: 85%;
  font-size: 20px;
}

.close {
  position: fixed;
  top: 20%;
  left: 85%;
  color: black;
  font-size: 4vh;
  width: 30px;
  min-height: 30px;
  font-weight: bold;
  &:hover,
  &:focus {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

.instructions {
  display: block;
  text-align: left;
}

.bulletpoints {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

@media screen and (max-width: 765px) {
  .open-instructions {
    display: none;
    position: fixed;
    top: 20%;
    left: 10%;
    z-index: 3;
    width: 80%;
    height: 75%;
    overflow: auto;
    background: white;
    border: 0.5px solid black;
  }
}
