$btnWidth: 225px;

.tab {
  overflow: hidden;
  margin-left: 5%;
}

.tab button {
  width: $btnWidth;
  padding: 1%;
  margin: 1%;
  background: inherit;
  float: left;
  border: 0.5px solid black;
  cursor: pointer;
  transition: 0.3s;
  font-family: Century;
  font-size: 1rem;
  &:active {
    background: #b63215;
  }
  &:hover {
    background: #b63215;
  }
}
