$btnWidth: 205px;
$linkColor: #972D07;

.tab {
  position: fixed;
  top: 10%;
  width: 100%;
  overflow: hidden;
  margin-left: 4%;
  z-index: 2;
  background: white;
}

.tab button {
  width: $btnWidth;
  padding: 1%;
  margin: 1%;
  float: left;
  border: 0.5px solid black;
  cursor: pointer;
  // transition: 0.3s;
  font-family: Century;
  font-size: 1rem;
  background: white;
  &:hover {
    background: $linkColor;
  }
  &:active {
    background: $linkColor;
  }
}



