body {
  font-family: Century;
  margin: 0;
  padding: 0;
  background-color: #ebe5e5;
}

/* Navigation */
.navigation {
  display: flex;
  height: 10%;
  width: 100%;
}

.name {
  position: relative;
  padding-left: 6%;
  padding-top: 4px;
  padding-bottom: 0px;
  height: 100%;
  width: 50%;
  font-size: 5vh;
}

.links {
  display: flex;
  margin-left: auto;
  margin-top: 3%;
  height: 100%;
  width: 40%;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link-style {
  font-weight: bold;
  text-decoration: none;
  color: black;
  font-size: 3vh;
}

.link-style-footer {
  text-decoration: none;
  color: white;
}

.link-style:hover,
.link-style-footer:hover {
  color: #b63215;
}

/* Deck headings */
.deck-heading {
  margin-left: 4%;
  font-size: 3vh;
}

/* Card Dimensions */
.flip-card {
  position: relative;
  background-color: transparent;
  width: 290px;
  height: 215px;
  border: 1px solid whitesmoke;
  perspective: 1000px;
}

/* Positions the front and back side of the card */
.flip-card-inner {
  position: relative;
  width: 290px;
  height: 215px;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index:1 ;
}

/* Positions the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 290px;
  height: 215px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

/* styling of the front side of the card */
.card-front {
  background-color: black;
  overflow: hidden;
  position: relative;
  width: 290px;
  height: 215px;
}

.gg {
  position: fixed;
  height: 100%;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bold;
  padding: 0;
  line-height: 160%;
  background-color: black;
}

.g {
  position: absolute;
}
.g1 {
  top: -45px;
  left: 5px;
  color: white;
}

.g2 {
  left: 67px;
  color: white;
}

/* Card Back */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border: 0.5px solid black;
}

/* arrangment of cards in rows */
.row-1,
.row-2,
.row-3 {
  display: flex;
  margin-left: 6.3%;
  flex-wrap: wrap;
}

/* styling of the text in cards */
.text {
  font-family: Century;
  font-size: 2.8vh;
  text-align: left;
  padding: 5%;
  padding-top: 10%;

}

/*Previous and Next Buttons*/
.direction {
  display: flex;
}
.forward {
  margin-left: 80%;
}

.forward-mobile {
  position:absolute;
  right: 5%;
  top: 18%;
  height: 5%;
  width: 5%;
  cursor: pointer;
}

/* footer styling */
.page-content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -110px;
  align-items: center;
}

.page-content:after {
  content: "";
  display: block;
}

footer,
.page-content:after {
  height: 160px;
}

footer {
  padding-top: -20px;
  background-color: black;
  color: white;
  width: 100%;
}

.footer-text {
  margin-left: -2%;
  padding-top: 1%;
  padding-right: 2%;
  width: 100%;
  text-align: right;
}

/* Media Queries: Tablet portrait */
@media screen and (max-width: 768px) {
  /* Responsive Stying for Header */
  .line {
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px;
  }
  .navigation {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 20%;
    z-index: 3;
  }
  .links {
    position: fixed;
    background-color: #ebe5e5;
    color: black;
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
    z-index: 2;
  }
  .link-style:hover {
    color: #b63215;
  }
  .links.open {
    clip-path: circle(1000px at 90% -20%);
    -webkit-clip-path: circle(1000px at 90% -20%);
    pointer-events: all;
  }
  .row-1,
  .row-2,
  .row-3 {
    align-content: center;
  }

  .forward {
    margin-left: 6.3%;
  }
  .forward-mobile {
    display: block;
    position: fixed;
    top: 18%;
    right: 5%;
    height: 5%;
    width: 5%;
    cursor: pointer;
  }
  /* Positions the front and back side of the card */
.flip-card-inner {
  position: relative;
  width: 290px;
  height: 215px;
  text-align: center;
  transition: transform 0.3s;
  transform-style: preserve-3d;
  cursor: pointer;
  z-index:2 ;
}

/* Positions the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 290px;
  height: 215px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 2;
}

/* styling of the front side of the card */
.card-front {
  background-color: black;
  overflow: hidden;
  position: relative;
  width: 290px;
  height: 215px;
  z-index: 2
}

.gg {
  position: fixed;
  height: 100%;
  font-family: sans-serif;
  font-size: 100px;
  font-weight: bold;
  padding: 0;
  line-height: 160%;
  background-color: black;
}

.g {
  position: absolute;
}
.g1 {
  top: -45px;
  left: 5px;
  color: white;
}

.g2 {
  left: 67px;
  color: white;
}

/* Card Back */
.flip-card-back {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border: 0.5px solid black;
  z-index: 2
}

  .text {
    font-family: Century;
    font-size: 2.2vh;
    text-align: left;
    padding: 5%;
    padding-top: 5%;
  
  }
}

/* Animations */

.animation {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
 transform: translateY(100%);
}

.a-text {
  color: #ebe5e5;
  font-size: 8vh;
}

.hidden {
  background: black;
  overflow:hidden;
}

.hidden, .a-text {
  transform: translateY(100%);
  display: inline-block;
}
