body {
  font-family: Century;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: #ebe5e5;
}

/* Header */
.navigation {
  display: flex;
  text-align: left;
  color: #030303;
}

.name {
  position: relative;
  left: 5%;
  width: 40%;
  font-size: 4vh;
}

.links {
  display: flex;
  width: 40%;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: auto;
  margin-top: 3%;
  text-decoration: none;
  list-style: none;
}

.link-style {
  font-size: 3vh;
  text-decoration: none;
  color: black;
}

.link-style-footer {
  text-decoration: none;
  color: white;
}

.link-style:hover,
.link-style-footer:hover {
  color: #b63215;
}

/* Media Queries: Tablet portrait */
@media screen and (max-width: 768px) {
  /* Responsive Stying for Header */
  .line {
    width: 30px;
    height: 3px;
    background: rgb(0, 0, 0);
    margin: 5px;
  }
  .navigation {
    position: relative;
  }

  .hamburger {
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 20%;
    z-index: 3;
  }
  .links {
    position: fixed;
    background-color: #ebe5e5;
    color: black;
    height: 100%;
    width: 100%;
    flex-direction: column;
    clip-path: circle(100px at 90% -20%);
    -webkit-clip-path: circle(100px at 90% -20%);
    transition: all 1s ease-out;
    pointer-events: none;
  }
  .link-style:hover {
    color: #b63215;
  }
  .links.open {
    clip-path: circle(1000px at 90% -20%);
    -webkit-clip-path: circle(1000px at 90% -20%);
    pointer-events: all;
  }
}

/* Image */
.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}

/* By-line */
.subheading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  text-align: center;
  font-size: 4vh;
}

/* Modal */
.open-instructions {
  display: none;
  position: fixed;
  top: 5%;
  left: 20%;
  z-index: 1;
  width: 75%;
  height: 90%;
  overflow: auto;
  background-color: #218070;
}

.content {
  margin: 5% auto;
  width: 70%;
}

.close {
  position: relative;
  color: black;
  float: right;
  font-size: 5vh;
  width: auto;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(253, 253, 253);
  text-decoration: none;
  cursor: pointer;
}

/* Button that opens Modal */
.subheading-2 {
  height: 25%;
  width: 22%;
  text-align: center;
  font-family: Century;
  font-size: 100%;
  padding: 2.5%;
  background-color: #ca4224;
  border: none;
}

.instructions {
  display: block;
  text-align: left;
}

.bulletpoints {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

/* Start Deck Button */
.start-deck:hover,
.subheading-2:hover {
  background-color: #b63215;
}

.main {
  display: flex;
  justify-content: space-evenly;
}

.start-deck {
  height: 25%;
  width: 18%;
  text-align: center;
  font-family: Century;
  font-size: 100%;
  padding: 2.5%;
  background-color: #ca4224;
  border: none;
  text-decoration: none;
  color: black;
}

/* Responsive Styling for Body */
/* Media Queries: Tablet portrait */
@media screen and (max-width: 768px) {
  /* Button that opens Modal */
  .subheading-2 {
    height: 25%;
    width: 35%;
    text-align: center;
    font-family: Century;
    font-size: 100%;
    padding: 2.5%;
    background-color: #ca4224;
    border: none;
  }

  .start-deck {
    height: 25%;
    width: 25%;
    text-align: center;
    font-family: Century;
    font-size: 100%;
    padding: 2.5%;
    background-color: #ca4224;
    border: none;
    text-decoration: none;
    color: black;
  }
  .open-instructions {
    display: none;
    position: fixed;

    top: 5%;
    left: 5%;
    z-index: 1;
    width: 90%;
    height: 90%;
    overflow: auto;
    background-color: #218070;
  }
}

/* Footer */
.page-content {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -190px;
}

.page-content:after {
  content: "";
  display: block;
}

footer,
.page-content:after {
  height: 190px;
}

footer {
  background-color: black;
  color: white;
  width: 100%;
}

.footer-text {
  margin-left: auto;
  padding-top: 1%;
  padding-right: 2%;
  width: 50%;
  text-align: right;
}

/* Media Queries: Tablet portrait */
@media screen and (max-width: 765px) {
  .page-content {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -150px;
  }

  .page-content:after {
    content: "";
    display: block;
  }

  footer,
  .page-content:after {
    height: 180px;
  }

  footer {
    background-color: black;
    color: white;
    width: 100%;
  }

  .footer-text {
    margin-left: auto;
    padding-top: 1%;
    padding-right: 2%;
    width: 60%;
    text-align: right;
  }
}
