@import "./header";
@import "./modal";
@import "./card";
@import "./format";
@import "./footer";
@import "./mobile";

$btnHeight: 7vh;
$btnWidth: 45vh;
$blue: #317c7b;
$btnColor: #fc7750;
$first: #ee5050;
$second: #317c7b;
$third: #f88c26;
$linkHoverColor: #f5f8fa;
// extra color
$extraColor: #d4e09b;

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.background {
  background: white;
}

.landing {
  padding-top: 5%;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.nav-suite {
  position: absolute;
  top: 15%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
.nav-img {
  width: 55vh;
}

.suite-label {
  text-align: left;
  min-width: 50vh;
  width: 50vh;
  // margin: 1%;
  // padding: 1%;

  .deck-link {
    color: black;
    text-decoration: none;
    font-weight: 500;

    &:link {
      color: black;
    }
    &:visited {
      text-decoration: underline;
    }
    &:hover {
      color: white;
      background: black
    }
  }
}

.description {
  padding-top: 5%;
  padding-bottom: 5%;
  text-align: left;
  // border: 1px solid black
}

.first {
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 4%;
  padding-bottom: 4%;
  border: 1px solid black;
  color: black;
}
.first:hover {
  // background: black;
  color: white;
}

.second,
.third {
  @extend .first;
  background: white;
}

.info {
  padding-top: 5%;
  width: 90%
}
.info a {
  text-decoration: underline;
}

/* By-line */
.subheading {
  font-size: 64px;
  width: 70%;
  margin-left: 7%;
  padding-top: 7%;
  transition: 2s;
  opacity: 0;
}
.subheading.show {
  opacity: 1;
}

.start-deck {
  // height: $btnHeight;
  width: 150px;
  margin: 1%;
  padding: 1%;
  position: relative;
  align-items: baseline;
  align-items: center;
  display: flex;
  left: 70%;
  transform: translateX(-10%);
  font-family: Arial, Helvetica, sans-serif;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background: white;
  &:hover {
    background: black;
    color: white;
  }
}

.start-deck span {
  padding-left: 4%;
}

// Instructions
.instructions {
  height: 50vh;
  margin-left: 7%;
  width: 50%;
}
// .instructions-heading {
//   margin: 1%;
// }
