@import "./header";
@import "./modal";
@import "./card";
@import "./format";
@import "./footer";
@import "./mobile";

$btnHeight: 7vh;
$btnWidth: 45vh;
$blue: #317c7b;
$btnColor: #fc7750;
$first: #ee5050;
$second: #317c7b;
$third: #f88c26;
$linkHoverColor: #f5f8fa;
// extra color
$extraColor: #D4E09B;

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif
}

.background {
  background: white
}

.landing {
  padding-top: 5%;
  display: flex;
  width: 100%;
  overflow: hidden;
}

.nav-suite {
  position: absolute;
  top: 15%;
  margin-left: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
}
.nav-img {
  width: 55vh;
}

.suite-label {
  text-align: center;
  min-width: 50vh;
  width: 50vh;
  margin: 1%;
  padding: 1%;

  .deck-link {
    color: black;
    text-decoration: none;

    &:link {
      color: black;
    }
    &:visited {
      text-decoration: underline;
    }
  }
}


.description {
  padding-top: 5%;
  padding-bottom: 5%;
}

.first {
  background: $first;
  padding-left: 45%;
  padding-right: 45%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.second {
  @extend .first;
  background: $second
}

.third {
  @extend .first;
  background: $third;
}


/* By-line */
.subheading {
  font-size: 64px;
  width: 70%;
  margin-left: 7%;
  padding-top: 7%;
  transition: 2s;
  opacity: 0;
}
.subheading.show {
  opacity: 1
}

.start-deck {
  height: $btnHeight;
  width: $btnWidth;
  text-align: center;
  margin: 1%;
  position: relative;
  left: 10%;
  transform: translateX(-10%);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  font-weight: bold;
  border: 1px solid black;
  text-decoration: none;
  color: black;
  background: white;
  &:hover {
    background: black;
    color: white
  }
}

// .main {
// position: absolute;
// left: 50%;
// top: 30%;
// }

